@font-face {
    font-family: 'Overpass';
    src: url('./fonts/Overpass-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
  }

body {
    font-weight: 400;
    overflow: hidden; 
    overflow-x: hidden;
    position: relative;
    background-color: #2F3E46 !important;
    color: #fff !important;
    font-family: 'Overpass', sans-serif !important;
  }

  .contactPaper {
    margin: 5%;
    overflow: hidden 
  }
