@font-face {
    font-family: 'Overpass';
    src: url('./fonts/Overpass-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
  }

body {
    font-weight: 400;

    position: relative;

    color: #fff !important;
    font-family: 'Overpass', sans-serif !important;
  }

  .contactPaper {
    overflow: hidden;
    font-family: 'Overpass';
  }

  .headerCell {
    font-style: bold;
  }

  .Mui-focused {
    color:black;
  }